html {
  background-color: lightgray;
}

body {
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
  max-width: 60em;
  margin:auto;
  padding:15px;
  min-height: 100vh;
}

:link {
  text-decoration: none;
  color:blue;
}

:visited {
  text-decoration: none;
  color:purple;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
}

div.caption {
  font-size: 14px;
}
