body
{
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  max-width: 60em;
}

:link
{
  text-decoration: none;
}

div.caption
{
  font-size: 14px;
}
