[Desktop Entry]
Type=Service
Name=Blokus games
ServiceTypes=ThumbCreator
MimeType=application/x-blokus-sgf;
X-KDE-Library=pentobi-thumbnail


# Translations
Name[de]=Blokus-Partien
Name[fr]=Parties de Blokus
