<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sf.pentobi"
    android:installLocation="auto"
    android:versionCode="20000999"
    android:versionName="20.1-dev" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:name="org.qtproject.qt5.android.bindings.QtApplication"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:label="Pentobi"
        android:theme="@style/AppTheme"
        android:icon="@drawable/icon" >
        <activity
            android:name="org.qtproject.qt5.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="Pentobi"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/octet-stream"
                    android:host="*"
                    android:pathPattern=".*\\.blksgf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/x-blokus-sgf"
                    android:host="*"
                    android:pathPattern=".*\\.blksgf" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />

            <meta-data
                android:name="android.app.qt_sources_resource_id"
                android:resource="@array/qt_sources" />
            <meta-data
                android:name="android.app.repository"
                android:value="default" />
            <meta-data
                android:name="android.app.qt_libs_resource_id"
                android:resource="@array/qt_libs" />
            <meta-data
                android:name="android.app.bundled_libs_resource_id"
                android:resource="@array/bundled_libs" />
            <meta-data
                android:name="android.app.bundle_local_qt_libs"
                android:value="-- %%BUNDLE_LOCAL_QT_LIBS%% --" />
            <meta-data
                android:name="android.app.use_local_qt_libs"
                android:value="-- %%USE_LOCAL_QT_LIBS%% --" />
            <meta-data
                android:name="android.app.libs_prefix"
                android:value="/data/local/tmp/qt/" />
            <meta-data
                android:name="android.app.load_local_libs_resource_id"
                android:resource="@array/load_local_libs" />
            <meta-data
                android:name="android.app.load_local_jars"
                android:value="-- %%INSERT_LOCAL_JARS%% --" />
            <meta-data
                android:name="android.app.static_init_classes"
                android:value="-- %%INSERT_INIT_CLASSES%% --" />
            <meta-data
                android:value="@string/ministro_not_found_msg"
                android:name="android.app.ministro_not_found_msg" />
            <meta-data
                android:value="@string/ministro_needed_msg"
                android:name="android.app.ministro_needed_msg" />
            <meta-data
                android:value="@string/fatal_error_msg"
                android:name="android.app.fatal_error_msg" />
            <meta-data
                android:value="@string/unsupported_android_version"
                android:name="android.app.unsupported_android_version" />

            <meta-data
                android:name="android.app_extract_android_style"
                android:value="minimal" />
            <meta-data
                android:name="android.app.splash_screen_drawable_portrait"
                android:resource="@drawable/splash" />
            <meta-data
                android:name="android.app.splash_screen_drawable_landscape"
                android:resource="@drawable/splash" />

            <meta-data
                android:name="android.app.background_running"
                android:value="false" />
            <meta-data
                android:name="android.app.auto_screen_scale_factor"
                android:value="false" />
        </activity>
        <activity
            android:name=".HelpBrowserActivity"
            android:label="Pentobi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
        </activity>
     </application>
</manifest>
