<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sf.pentobi"
    android:installLocation="auto"
    android:versionCode="19999000"
    android:versionName="20.0-dev" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:allowNativeHeapPointerTagging="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:label="Pentobi"
        android:theme="@style/AppTheme"
        android:icon="@drawable/icon" >
        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="Pentobi"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/octet-stream"
                    android:host="*"
                    android:pathPattern=".*\\.blksgf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/x-blokus-sgf"
                    android:host="*"
                    android:pathPattern=".*\\.blksgf" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="pentobi" />
            <meta-data
                android:name="android.app.arguments"
                android:value="" />
            <meta-data
                android:name="android.app.extract_android_style"
                android:value="minimal" />
            <meta-data
                android:name="android.app.splash_screen_drawable_portrait"
                android:resource="@drawable/splash" />
            <meta-data
                android:name="android.app.splash_screen_drawable_landscape"
                android:resource="@drawable/splash" />
        </activity>
        <activity
            android:name=".HelpBrowserActivity"
            android:label="Pentobi">
            <meta-data
            android:name="android.app.lib_name"
            android:value="pentobi" />
        </activity>
    </application>

</manifest>
