html {
background-color: #eee;
}

body {
color: black;
background-color: white;
max-width: 60em;
margin: auto;
padding: 0.7em;
min-height: 100vh;
}

hr {
color: #eee;
}

:link {
text-decoration: none;
color: blue;
}

:visited {
text-decoration: none;
color: purple;
}

:focus {
outline-color: darkorange;
}

.caption {
font-size: 90%;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}

.guibutton {
font-style: italic;
}

.guilabel {
font-style: italic;
}

.guimenu {
font-style: italic;
}

.guimenuitem {
font-style: italic;
}

.informalfigure {
text-align: center;
}

.informalfigure img {
width: auto;
height: auto;
max-width: 90%;
max-height: 90%;
margin: 0.5em;
}
